html {
    font-family: "Saira", sans-serif;
    background-color: #2D92B8;
}

#title {
    text-align: center;
    border-width: 4px;
    border-radius: 30px;
    border-style: solid;
    border-color: #000000;
    background-color: #FFDE95;
    margin: 10px 10%;
    width: 80%;
    padding: 0px;
    font-family: "Balsamiq Sans", sans-serif;
}

#main-title {
    background-color: #40DFAF;
    border-width: 0px 0px 4px 0px;
    border-radius: 26px;
    border-style: solid;
    border-color: #000000;
    margin: 0px;
    padding: 20px;
}

#menu-div {
    position: relative;
    margin-left: 3%;
}

#menu {
    width: 30%;
    display: none;
    position: absolute;
    left: 45px;
    top: 10px;
}

#icon {
    font-size: 40px;
    padding-bottom: 10px;
}

#menu-off{
    width: 100%;
    display: none;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
}

a:active {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
}

a:link {
    color: black;
}

a {
    color: black;
}

.button-top {
    border-radius: 30px 30px 0px 0px;
    border-width: 3px;
}

.button-bottom {
    border-radius: 0px 0px 30px 30px;
}

.button-stand-alone {
    border-width: 3px;
    border-radius: 15px;
    width: fit-content;
    margin-left: 3%;
}

.button-inactive {
    color: #888888;
    background-color: #FFB777;
}

.button-tabbed {
    padding-left: 27pt;
}

button {
    width: 100%;
    height: line;
    margin: 0px;
    font-size: 18pt;
    border-width: 0px 3px 3px 3px;
    background-color: #F88747;
    border-color: #000000;
    color: #000000;
    padding: 9pt;
    text-align: left;
}

.section {
    background-color: #9ADFF8;
    border-color: #000000;
    border-style: solid;
    border-width: 3px;
    border-radius: 30px;
    padding: 30px;
    margin: 0px 3% 40px 3%;
    font-size: 20pt;
    color: #000000;
    align-items: center;
}

.section-title {
    background-color: #FFFFFF;
    border-width: 0px 0px 4px 0px;
    border-radius: 26px;
    border-style: solid;
    border-color: #000000;
    margin: -30px -30px 30px -30px;
    padding: 20px;
    text-align: center;
}

.clean-zones {
    width: 100%;
}

#waterPickup, tr, td {
    border-style: solid;
    border-collapse: collapse;
    border-color: #000000;
    border-width: 3px;
    padding: 10px;
    width: 100%;
}

footer {
    color: #FFFFFF;
    margin-top: 45px;
    width: 100%; 
}

ul > li {
    list-style-image: url("waterbottle.png");
    margin-bottom: 15px;
    font-size: 30px;
}

.flag-icon {
    max-width: 300px;
    max-height: 200px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.language-selection {
    margin: 10px;
    text-align: center;
    height: 375px;
    width: 375px;
}