html {
    font-family: verdana;
}

#title {
    background-image: url("water.png");
    background-size: 100%;
}

h1 {
    text-align:center;
}

h3 {
    text-align: center;
}

#menu {
    width: 100%;
    border: grey;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: lightgray;
}

a:active {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
}

a:link {
    color: black;
}

button {
    width: 100%;
    height: line;
    margin: 0px;
    font-size: 18pt;
}