html {
    font-family: verdana;
    background-color: #2D92B8;
}

#title {
    background-size: 100%;
}

h1 {
    text-align:center;
    color: #FFFFFF;
}

h3 {
    text-align: center;
    color: #FFFFFF;
}

#menu {
    width: 100%;
}

a:active {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
}

a:link {
    color: black;
}

a {
    color: black;
}

.button-top {
    border-radius: 15px 15px 0px 0px;
    border-width: 3px;
}

.button-bottom {
    border-radius: 0px 0px 15px 15px;
}

button {
    width: 100%;
    height: line;
    margin: 0px;
    font-size: 18pt;
    border-width: 0px 3px 3px 3px;
    background-color: #F88747;
    border-color: #000000 class="button-bottom";
}

.day {
    background-color: #9ADFF8;
    border-color: #000000;
    border-style: solid;
    border-width: 3px;
    border-radius: 30px;
    padding: 30px;
}

#waterPickup, tr, td {
    border-style: solid;
    border-collapse: collapse;
    border-color: gray;
}

#description {
    color: #FFFFFF;
}

#contact {
    color: #FFFFFF;
}

footer {
    color: #FFFFFF;
}